/* The container holding all scripts */
.dialog-container {
    /* background-color: rgba(255, 0, 0, 0.25); */
    
    max-width: 100%;
    height: calc(100% - 150px);

    display: flex;
    flex-flow: column-reverse;
    align-items: flex-start;
    overflow: hidden;


    box-sizing: border-box;

    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

#dialog-line-container {
    display: block;
}








/* The container holding the suggested dialog options - this has a parent container */
.dialog-options-container {
    width: 942px;
    height: 100px;

    margin-left: 50px;

    bottom: 14px;

    position: fixed;

    padding: 20px 0px 40px 0px;
}



/* A container for the > symbol next to the selected option */
.dialog-carat-container {
    width: 50px;
    height: 100px;

    bottom: 14px;
    position: fixed;

    padding: 20px 0px 40px 0px;
}

/* Holds the carat and the dialog options container */
.input-container {
    height: 100px;
    display: flex;
}

/* A text class for an unselected dialog option */
.input-option {
    width: 100%;

    color: rgba(220, 220, 220, 0.7);

    margin: 2px 0px 2px 0px;

    transition: 0.17s;
    transition-timing-function: cubic-bezier(0,.25,.3,.99);
}

/* Modifiers for a selected dialog option */
.option-active {
    margin-left: 15px;
    width: calc(100% - 50px);
    color: rgba(245, 245, 245, 0.9);
}

/* Modifier class for when the selector is hidden */
.selector-hidden {
    transition: 0.3s;
    opacity: 0;
}


/*
    ┏━━━┳━┓╋┏┳━━┳━┓┏━┳━━━┳━━━━┳━━┳━━━┳━┓╋┏┳━━━┓
    ┃┏━┓┃┃┗┓┃┣┫┣┫┃┗┛┃┃┏━┓┃┏┓┏┓┣┫┣┫┏━┓┃┃┗┓┃┃┏━┓┃
    ┃┃╋┃┃┏┓┗┛┃┃┃┃┏┓┏┓┃┃╋┃┣┛┃┃┗┛┃┃┃┃╋┃┃┏┓┗┛┃┗━━┓
    ┃┗━┛┃┃┗┓┃┃┃┃┃┃┃┃┃┃┗━┛┃╋┃┃╋╋┃┃┃┃╋┃┃┃┗┓┃┣━━┓┃
    ┃┏━┓┃┃╋┃┃┣┫┣┫┃┃┃┃┃┏━┓┃╋┃┃╋┏┫┣┫┗━┛┃┃╋┃┃┃┗━┛┃
    ┗┛╋┗┻┛╋┗━┻━━┻┛┗┛┗┻┛╋┗┛╋┗┛╋┗━━┻━━━┻┛╋┗━┻━━━┛
*/

/* selection/input animations */

/* Given to inputs before they're shown, for fade-in animation */
.input-hidden {
    opacity: 0 !important;
    transform: translateX(-10px);
}

/* Text class for the > symbol */
.input-selector {
    position: fixed;

    margin: 2px 0px 2px 28px;

    transition: 0.2s;
}

.input-selected-disappear {
    transition: 0.5s !important;
    

    color: rgba(255, 255, 255, 1) !important;
    margin-left: 50px;
}

/* The selected input disappears */
.input-selected-disappear-2 {
    transition: 0.8s !important;
    opacity: 0;
}

/* The unselected options immediately disappear */
.input-unselected-disappear {
    transition: 0.2s !important;
    transition-timing-function: cubic-bezier(0,.5,.5,1);

    opacity: 0;
}



/* selection/input animations */
.dialog-hidden-anim {
    opacity: 0 !important;
    transform: translateY(20px);
}







/* Dialog entries */
.dialog-entry-container {
    min-height: 50px;
    margin: 40px 0px 24px 0px;

    opacity: 1;
    transition: 0.3s !important;
    transition-timing-function: cubic-bezier(0,.05,.010,1) !important;

    display: block;
}

/* The container for the element holding all text components in a section of the script */
.dialog-text-container {
    text-shadow: 0 0 6px #BBBBBB;
    font-weight: 400;
    font-size: 18px;
}

/* The prefix holding the icon and name */
.dialog-prefix {
    font-weight: 600;
    text-shadow: 0 0 12px #CCCCCC;
    color: rgb(240, 240, 240);
}

.prefix-you {
    font-weight: 1000;
    color: white;
}












/* dialog modifiers */
.dialog-bold {
    font-weight: 700;
}

.dialog-italic {
    font-style: italic;
}

.dialog-underline {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: none;
}